body{
  display : flex;
  justify-content : center;
  align-items : center;
  background-image : URL("./images/wallpaper.png");
}

div{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  background-color : grey;
}
