body{
  height : 100vh;
  width : 100vw;
  margin : 0;
  padding : 0;
  display : flex;
  justify-content : center;
  align-items : center;
  background-image : linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),URL("./images/wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

div{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  background-color : grey;
}
