body,html{
  height : 100vh;
  width : 100vw;
  margin : 0;
  padding : 0;
  display : flex;
  justify-content : center;
  align-items : center;
  background-image : linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),URL("./images/wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

button{
  background-color : red;
  color : white;
  width : auto;
  height : 10%;
}

form{
  display : flex;
  flex-direction : column;
  gap: 10%;
  justify-content : center;
  align-items : center;
  background-color : rgb(255, 255, 255);
  border-radius: 20px;
  width : 30%;
  height : 30%;
  box-shadow: 5px 5px 5px black;
}

input{
  background-color: rgb(207, 207, 207);
  border-radius: 15px;
}
