*{
    font-family: 'Montserrat', sans-serif; 
}

.content{
  display: flex;
  width : 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding : 6% 5% 0 5%;
}

.title{
  width : 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title h1,.title h2{
  padding : 0;
  margin : 0;
}

.navigationbar{
  margin : 5vh;
  width : 100%;
  height : 5vh;
  display : flex;
  flex-direction : row; 
  justify-content : flex-end;
  gap : 2%;
}

.navigationbar > *{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border : 2px solid black;
  transition: all 0.3s ease;
}

.navigationbar > *:hover{
  background-color: #c2c2c2;
}
.link-button{
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    white-space: nowrap;
    padding: 10px 20px;
    background-color: transparent;
    border : 2px solid black;
    font-weight : bold;
    color : black;
    text-decoration: none;
}

.navhover{
    background-color: black !important;
    color : white !important;
    fill : white !important;
}

#searchbar{
  flex-direction: row;
  fill : black;
  width : 3vw;
  box-sizing : border-box;
}

#search:focus{
  border : none;
  outline: none; 
}

#search{
  text-align: left;
  width : 0; 
  margin-right: auto;
  border : none;
  background-color : transparent;
  transition: all 0.3s ease;
  padding : 0;
}

#date{
  width : 0;
  overflow : hidden;
  display : flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#datebar{
  flex-direction: row;
  fill : black;
  width : 3vw;
}

.events{
  display : flex;
  flex-direction: column;
  margin : 5vh 0 5vh 0;
  min-height : 80vh;
  gap : 10px;
}

.event-card{
  width: 100%;
  border-radius : 10px;
  display : flex;
  flex-direction : row;
  height : 40vh;
}

.event-card:hover{
  background-color: rgb(245, 245, 245);
}

.event-image{
  flex : 1;
  display: flex;
  grid-template-columns: auto 1fr; /* left column for text, right for image */
  align-items: center;         /* optional spacing */
  justify-content: center;
}

.event-rotated-text {
  position : absolute;
  left : 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  padding : 1%;
  transform: rotate(90deg);
}

.event-image img{
  object-fit: cover; 
  height: 90%;
  width : 100%;
  display: block;
  border-radius: 10px;
}

.event-content{
  flex : 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 5%;
  white-space: nowrap;     /* prevent wrapping */
  overflow: hidden;        /* hide overflowing text */
  text-overflow: ellipsis;
}

.event-date h1, .event-date p{
  text-align: left;
  padding :0;
  margin : 0;
}

.event-date{
  flex : 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-date > * {
  font-weight: bold;
}

.flatpickr-calendar {
  border-radius: 20px;
  background-color: black;
  color : white;
}


/* =========================
   MONTH HEADER
   ========================= */
.flatpickr-months {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #EC3669;
  color : white;
  border-bottom: 1px solid #ffffff;
}

.flatpickr-current-month, .flatpickr-current-month input.cur-year  {
  font-weight: bold;
  color : white;
}


/* =========================
   MONTH NAVIGATION ARROWS
   ========================= */
.flatpickr-prev-month,
.flatpickr-next-month {
  color: #ffffff;
  fill: #ffffff;
}

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
  color: #000;
  fill: #000;
}


/* =========================
   WEEKDAY LABELS
   ========================= */
span.flatpickr-weekday {
  color : white;
}

.flatpickr-weekday {
  color: #ffffff;
}


/* =========================
   DAY CELLS
   ========================= */
.flatpickr-day {
  border-radius: 6px;
  color: #ffffff;
  border: none;
}

.flatpickr-day:hover {
  background: #EC3669;  
}


/* =========================
   TODAY
   ========================= */
.flatpickr-day.today {
  background-color: #333 !important;
  border: 1px solid #EC3669;
}


/* =========================
   SELECTED DAY
   ========================= */
.flatpickr-day.selected {
  background: #EC3669;
  border: none;
  color: white;
}


/* =========================
   RANGE MODE
   ========================= */
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: #EC3669;
  color: white;
}

.flatpickr-day.startRange.selected,
.flatpickr-day.endRange.selected,
.flatpickr-day.selected.startRange,
.flatpickr-day.selected.endRange {
  background-color: #EC3669;
}
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover {
  background: #EC3669;
  color: white;
}

.flatpickr-day.inRange {
  border : none;
  background: #333;
  color: white;
}

.flatpickr-day.disabled,
.flatpickr-day.notAllowed {
  color: #747474;
}




