.userList{
  background-color : rgb(255, 255, 255);
  border-radius: 20px;
  width : 70%;
  height : 30%;
  overflow-y:scroll;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#add{
    height : 100%;
    width : 20%;
    color : white;
}

.navigator{
    margin-top: 10%;
    width : 100%;
    background-color: var(--main-color);
    height : 10%;
}
#add:hover{
    height : 100%;
    width : 20%;
    background-color: white;
    color : var(--main-color);
}