form{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color : rgb(255, 255, 255);
  border-radius: 20px;
  width : 70%;
  height : 30%;
  overflow-y:scroll;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}