form{
  display : flex;
  flex-direction : column;
  gap: 10%;
  justify-content : center;
  align-items : center;
  background-color : rgb(255, 255, 255);
  border-radius: 20px;
  width : 30%;
  height : 30%;
  box-shadow: 5px 5px 5px black;
}

.userList{
  width : 50%;
  height : 50%;
  border : 2px solid black;
  display:flex;
  flex-direction: column;
}
