table{
  width : 30%;
  height : 30%;
  border : 2px solid black;
  overflow-y: scroll;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}