*{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

body{
    background-color: #EC3669;
    color : white;
}

img{
    position : absolute;
    top : 0;
    left :0;
}

a{
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    padding : 2%;
    color : #EC3669;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 40%;
    position: absolute;
    right : 0;
}

h2{
    font-size: 2rem;
}

h1{
    font-size: 3rem;
}