*{
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
}

body{
    background-color: #EC3669;
    color : white;
}

.content{
    margin-top: 10vh;
    height : 90vh;
    width : 100%;
}

.content img{
    margin-right: auto;
}

.content a{
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    padding : 2%;
    color : #EC3669;
}

.content .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 40%;
    position: absolute;
    right : 0;
}

.content h2{
    font-size: 2rem;
}

.content h1{
    font-size: 3rem;
}