.products{
    width : 100%;
    height : 80%;
    display: flex;
    margin : 30px;
    flex-wrap: wrap;
    flex-direction: row;
}

.products > *{
    display :flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 20px;
    width : 20%;
    height : 20%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

p{
    width : 100%;
    height : 20%;
    font-size: 9px;
    height : 20%;
    display : flex;
    flex-wrap: wrap;
}

#add{
    height : 100%;
    width : 20%;
    color : white;
}

.navigator{
    width : 100%;
    background-color: var(--main-color);
    height : 10%;
}
#add:hover{
    height : 100%;
    width : 20%;
    background-color: white;
    color : var(--main-color);
}