body{
    background-color: black;
    color : white;
}

*{
    font-family: 'Montserrat', sans-serif; 
}

#intro{
    width : 100%;
    height : 100vh;
    box-sizing: border-box;
    padding : 3%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#intro svg{
    width : 50%;
}

#intro > img{
    position : absolute;
    top : 0;
    right :0;
    object-fit: contain;
    width : 30%;
    -webkit-mask-image: linear-gradient(
        to bottom left, 
        rgba(0,0,0,1) 50%,   /* fully visible toward top-right */
        rgba(0,0,0,0) 100%    /* fade to transparent on left/bottom */
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}

.intro-title{
    font-size : 70px;
}

.intro-text{
    font-size : 36px;
}

.intro-arrow{
    display : flex;
    flex-direction : column;
    margin-left : auto;
    align-items: center;
    justify-content: flex-end;
}
#statistics{
    width : 100%;
    height : 100vh;
    font-weight: bold;
    box-sizing: border-box;
    padding : 3% 0;
    gap : 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats{
    height : 30%;
    width : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap : 5%;
    background-color: white;
    color : black;
}

.stats > p{
    padding : 5%;
}
.stats > p:hover{
    background-color: #EC3669;
    border-radius: 10px;
}

.skills{
    display : flex;
    flex-direction: row;
    gap : 5%;
}

.progress-bar{
    width: 100%; 
    height: 5px;
}

#others{
    width : 100%;
    height : 100vh;
    font-weight: bold;
    box-sizing: border-box;
    padding : 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.other-contact{
    display : flex;
    flex-direction :row;
    justify-content: center;
    align-items: center;
    gap : 5%;
    width : 100%;
    height : 30%;
    background-image: URL("about-contact.png");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-mask-image: linear-gradient(
    to left, 
    rgba(0,0,0,1) 50%,   /* fully visible toward top-right */
    rgba(0,0,0,0) 100%    /* fade to transparent on left/bottom */
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}

.contact-button{
    display: flex;
    gap : 10%;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    white-space: nowrap;
    padding: 10px 20px;
    border : none;
    background-color : #EC3669;
    font-weight : bold;
    color : white;
    border-radius: 100px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 5%;
    width : 100%;
}

.nav > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100%;
}
