*{
    font-family: 'Montserrat', sans-serif; 
}

.layout{
  display: flex;
  width : 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding : 10%;
}

.title{
  width : 50%;
  margin-right: auto;
}

.title-text1{
  text-align: left;
  font-size: 70px;
  color : #EC3669;
}

.title-text2{
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  color : black;
}

.content{
  display: flex;
  flex-direction: column;
  gap : 10vh;
  width : 50%;
}

.content > img{
  position: absolute;
  object-fit: contain;
}

.paragraph{
  font-size: 16px;
  animation: fadeBottom linear forwards;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
  animation-fill-mode: both;
}

.content button{
  animation: fadeBottom linear forwards;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
  animation-fill-mode: both;
  width : 80px;
  padding : 10px;
  font-size: 16px;
  border : none;
  border-radius: 50px;
  color : white;
  font-weight: bold;
}

.content > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap : 10%;
}
.content h1{
  opacity: 0;
  font-size : 20px;
  animation: fadeBottom linear forwards;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
  animation-fill-mode: both;
}

.content p{
  opacity: 0;
  font-size : 16px;
  line-height: 2;
  animation: fadeBottom linear forwards;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
  animation-fill-mode: both;
}

.blue{
  background-color: #5690C6;
}

.red{
  background-color: #EC3669;
}

.green{
  background-color: #39BA93;
}

.black{
  background-color: black;
}

.contact-button{
    opacity: 0;
    animation: fadeBottom linear forwards;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
    animation-fill-mode: both;
    display: flex;
    gap : 10%;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */
    white-space: nowrap;
    padding: 10px 20px;
    border : none;
    background-color : #EC3669;
    font-weight : bold;
    color : white;
    border-radius: 100px;
}

.planners{
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 100%;
  gap : 10vh;
}

.planner-box{
  display: flex;
  flex-direction: row;
  gap : 10%;
  justify-content: center;
  align-items: center;
}

.planner-box > div{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  padding : 10px;
  background-color: #FFF4F4;
}

@keyframes fadeBottom {
  30% {
    transform: translateY(100px);
    opacity: 0;
  }
  40% {
    transform: translateY(0px);
    opacity: 1; 
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}